<div class="content">
    <h2>{{ employees.length }} Employees on Payroll</h2></br>
        <button ng-click="order = 'employee_id'">Order by ID</button>
        <button ng-click="order = 'salary'">Order by salary</button>

    <input type="text" ng-model="search" placeholder="search for employee" />
            
    <ul ng-repeat="employee in employees | orderBy: order | filter: search">
        <li>
            <div class="remove" ng-click="removeEmployee(employee)">x</div>
                EID: {{ employee.employee_id }}<br>
                Name: {{ employee.first_name }} {{ employee.last_name }}<br>
                Salary: {{ employee.salary | currency: '$' }}<br>
        </li>
    </ul>

    <h3>New Employee</h3>
        <form ng-submit="addEmployee()">
            <input type="text" placeholder="id" ng-model="employee.employee_id" />
            <input type="text" placeholder="first name" ng-model="employee.first_name" />
            <input type="text" placeholder="last name" ng-model="employee.last_name" />
            <input type="text" placeholder="salary" ng-model="employee.salary" />
            <input type="submit" value="Add Employee" />
        </form>

</div>